.about {
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .aboutBox {
        padding: 30px;

        .aboutDetails {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0;

            h1 {
                font-size: 32px;
                color: #15a0c7;
                font-weight: 900;
                text-transform: uppercase;
                width: 100%;

                &:after {
                    content: '';
                    width: 100px;
                    height: 4px;
                    border-radius: 4px;
                    background: #15a0c7;
                    display: block;
                    transition: 2s;
                    margin: 12px 0;
                    animation: line 2s ease-in-out;
                }

                @keyframes line {
                    0% {
                        width: 0px;
                    }

                    100% {
                        width: 100px;
                    }
                }
            }


            p {
                font-weight: 350;
                font-size: 16px;
                color: #535353;
                width: 100%;
                margin: 24px 0;

            }

            .learnBtn {
                cursor: pointer;
                color: #15a0c7;
                text-decoration: underline;
                font-size: 12px;
            }

            .img {
                width: 50%;
                height: 400px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .signImg {
                width: 130px;
                height: 130px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .cards {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                overflow: hidden;
                border: 1px solid red;
                width: 100%;
                position: absolute;
                bottom: 0px;
                right: 0;
            }
        }

        .aboutCards {
            z-index: 10;

            h1 {
                font-size: 32px;
                color: #15a0c7;
                font-weight: 900;
                text-transform: uppercase;
                width: 100%;
                margin: 30px 0;

                &:after {
                    content: '';
                    width: 100px;
                    height: 4px;
                    border-radius: 4px;
                    background: #15a0c7;
                    display: block;
                    transition: 2s;
                    margin: 12px 0;
                    animation: line 2s ease-in-out;
                }

                @keyframes line {
                    0% {
                        width: 0px;
                    }

                    100% {
                        width: 100px;
                    }
                }
            }

            .cardData {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                position: relative;
                height: 100vh;

                .cards {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    overflow: hidden;
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width:1000px) {

    .aboutDetails {
        flex-direction: column;

        div {
            width: 100% !important;
        }

    }
}