.api {
    background: #f8f8fb;

    .api-text {
        width: 70%;
        padding: 0 30px;

        .para {
            font-size: 22px;
            font-weight: 300;
            margin: 40px 0 20px 0;
            width: 100%;

            p {
                margin: 24px 0;
            }

            &>:nth-child(2) {
                font-weight: 400;
            }
        }
    }

    .api-details {
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;

        .api-table {
            margin: 100px 0;

            h1 {
                font-size: 28px;
            }

            .table {
                width: 100%;
                border-top: 1px solid #15a0c7;
                border-bottom: 1px solid #15a0c7;

                th,
                td {
                    background: none !important;
                    text-align: center;
                }

                td {
                    width: 250px;
                }
            }
        }

        .question {
            padding: 150px 0;
            width: 340px;


            input,
            textarea {
                background: none;
                border: 1px solid #15a0c7;
            }

            input[type="text"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            input[type="email"] {
                margin-bottom: -1px;
                border-radius: 0;
                border-radius: 0;
            }

            textarea {
                margin-bottom: -1px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            .btn {
                margin-top: 20px;
                width: 50%;
            }
        }

    }

    @media only screen and (max-width:1000px) {
        .api-text {
            width: 100%;
        }

        .api-details {
            flex-direction: column;

            .api-table {
                width: 100%;
            }

            .question {
                padding: 30px 0 !important;
            }
        }

    }
}