 .form-signin {
     width: 330px;
     padding: 1rem;
     border-radius: 10px;

     .form-floating {
         &:focus-within {
             z-index: 2;
         }

         input[type="email"] {
             margin-bottom: -1px;
             border-bottom-right-radius: 0;
             border-bottom-left-radius: 0;
         }

         input[type="password"] {
             margin-bottom: 10px;
             border-top-left-radius: 0;
             border-top-right-radius: 0;
         }

         .show{
            position: absolute;
            top: 20px;
            right: 10px;
            font-size: 12px;
            font-weight:500;
            cursor: pointer;
         }
     }
 }