.blog {
    padding: 30px;
    background: #fff;

    .blogBox {
        display: flex;
        flex-wrap: wrap;

        .blogData {
            position: relative;
            display: flex;
        }
    }
}