.blogPage {
    padding: 100px 30px;
    background: whitesmoke;

    p{
        font-size: 18px;
        font-weight: 300;
        margin: 12px 0;
        text-align: justify;
        color: #000;

        h4{
            margin: 0;
            color: #6c757d;
            text-transform: uppercase;
        }
    }
}