.contact {

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #f5f5f5;

        .map {
            width: 100%;
        }

        .contact-box {
            padding: 30px 0;
            width: 80%;
            display: flex;

            .address {
                width: 40%;
                padding: 30px 10px;
                background: #15a0c7;

                h1 {
                    font-size: 24px;
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 100%;

                    &:after {
                        content: '';
                        width: 100px;
                        height: 4px;
                        border-radius: 4px;
                        background: #fff;
                        display: block;
                        transition: 2s;
                        margin: 12px 0;
                        animation: line 2s ease-in-out;
                    }

                    @keyframes line {
                        0% {
                            width: 0px;
                        }

                        100% {
                            width: 100px;
                        }
                    }
                }

                p {
                    font-size: 21px;
                    color: #fff;
                    padding: 0;
                    font-weight: 300;
                    display: flex;
                    align-items: center;

                    span {
                        padding: 10px;
                        font-size: 16px !important;
                        cursor: pointer;
                        width: 260px;
                    }

                }

                .contactIcon {
                    border-radius: 50px;
                    background: #7eccff6e;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .footerIcons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 280px;
                    padding: 24px 0;

                    .icons {
                        font-size: 21px;
                        color: #fff;
                        cursor: pointer;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }

            .contactForm {
                padding: 30px;
                background: #fff;

                h1 {
                    font-size: 24px;
                    color: #15a0c7;
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 100%;

                    &:after {
                        content: '';
                        width: 100px;
                        height: 4px;
                        border-radius: 4px;
                        background: #15a0c7;
                        display: block;
                        transition: 2s;
                        margin: 12px 0;
                        animation: line 2s ease-in-out;
                    }

                    @keyframes line {
                        0% {
                            width: 0px;
                        }

                        100% {
                            width: 100px;
                        }
                    }
                }

                form {
                    padding: 30px 0;

                    .form-control {
                        outline: none;
                        box-shadow: none;
                        border: 1px solid #15a0c7;
                        border-radius: 0;
                        padding: 8px;

                        &::placeholder {
                            color: #9c9c9c;
                            font-size: 13px;
                        }
                    }

                    .btn {
                        background: #15a0c7;
                        border: none;
                        border-radius: 0;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: #fff;
                        padding: 16px 32px;
                        margin-top: 20px;
                        width: 200px;

                        &:hover{
                            background: #1189aa;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1000px) {

    .contact-box {
        flex-direction: column;

        .address {
            width: 100% !important;
        }
    }

}