.dataBox {
    width: 280px;
    height: 247.5px;
    background: #f8f8f8;
    margin: 20px 0;

    &:hover{
        box-shadow: rgba(120, 120, 120, 0.2) -5px 5px 12px, rgba(120, 120, 120, 0.1) -10px 10px 12px, rgba(120, 120, 120, 0.05) -15px 15px 12px;
    }

    .icon {
        text-align: center;
        margin: 20px;
    }

    .dataBox-body {
        text-align: center;

        h1 {
            color: #535353;
            font-size: 56px;
            line-height: 50px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            span {
                color: #535353;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        p {
            color: #535353;
            font-size: 18px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            margin: 20px;
        }
    }
}