.footer {
    // background: #15a0c7;
    background: #004b96;
    padding: 12px 0;
    font-weight: 300;
    position: relative;

    .arrow {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fade 2s infinite ease-in-out;
        cursor: pointer;
        z-index: 100;
        background: #fff;
        color: #004b96;
        font-size: 42px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 2px solid #004b96;
    }

    @keyframes fade {
        0% {
            bottom: 30px;
        }

        50% {
            bottom: 40px;
        }

        100% {
            bottom: 30px;
        }
    }

    .footerPara {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        p {
            color: #fff;
            margin: 0;
            padding: 12px 50px 0 50px;
            font-size: 14px;
            font-weight: 400;

            span {
                text-decoration: underline;
                cursor: pointer;
                color: #000;

                &:hover {
                    color: #fff;
                }
            }
        }

    }

    // Top Footer
    .topFooter {
        padding: 10px 50px;
        border-bottom: 1px solid #fff;

        // .topFooterLogo {
        //     width: 60px;
        //     height: 60px;

        //     img {
        //         width: 100%;
        //         height: 100%;
        //         border-radius: 8px;
        //     }
        // }

        .topFooterRow {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0;

            .topFooterCol {
                padding: 16px 0;
                width: 200px;
                height: 240px;
                position: relative;

                h1 {
                    margin: 10px 0;
                    color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                }

                ul {
                    padding: 0;
                    position: absolute;

                    li {
                        margin: 6px 0;
                        list-style: none;

                        .nav-link {
                            color: #fff !important;
                            font-size: 14px;
                            font-weight: 300;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .topFooterIcons {
            position: fixed;
            bottom: 120px;
            left: 0;
            width: 40px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            z-index: 100;
            background: #004b96;

            .icons {
                font-size: 28px;
                color: #fff;
                cursor: pointer;
                margin: 12px 0;

                &:hover {
                    color: #2b2b2b;
                }
            }

            // }

            // .contactBtn {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     width: 200px;

            //     .btn {
            //         font-size: 13px;
            //         width: 100%;
            //         color: #fff;
            //         border: 1px solid #fff;
            //         font-weight: 500;
            //         border-radius: 0;
            //         padding: 12px 0;
            //         cursor: pointer;
            //         text-transform: uppercase;

            //         &:hover {
            //             color: #000;
            //             background: #fff;
            //         }
            //     }
            // }
        }

    }
}

@media only screen and (max-width:768px) {
    .arrow {
        bottom: 20px;
        right: 20px;
        width: 40px !important;
        height: 40px !important;
    }
}