.home {

    .carousel {
        margin-top: 50px;
        cursor: pointer;

        .img {
            background: #000;
            width: 100%;
            height: 96vh;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.7;
            }
        }

        .slider_section {
            padding: 100px 0;

            .detail-box {
                h1 {
                    font-weight: 900;
                    font-size: 100px;
                }
            }

        }
    }

    .dataBoxs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        padding: 30px 0;
    }

    // Exports
    .exports {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .exportText {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 80%;

            h1 {
                color: #004b96;
                font-weight: 700;
                font-size: 32px;
            }

            p {
                font-weight: 350;
                font-size: 20px;
                color: #535353;
                padding: 0;
            }
        }

        .flagImgs {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            .img-box {
                width: 200px;
                height: 120px;
                margin: 14px 0;

                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 20px;
                    color: #535353;
                    margin: 6px 0 12px 0;
                }
            }

        }
    }

    // collaborations
    .collaborations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 40px 0;

        .collaborationsDetail {
            // background: #f8f8f8;
            background: #004b96;
            width: 80%;
            text-align: center;

            .collaborationsContent {
                padding: 40px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h3 {
                    // color: #3db5e6;
                    color: #c4eeff;
                    font-weight: 300;
                    margin: 3px 0;
                    padding: 0;
                }

                h1 {
                    color: #fff;
                    font-weight: 700;
                }

                p {
                    font-weight: 350;
                    font-size: 20px;
                    // color: #535353;
                    color: #dbdbdb;
                    margin: 24px 0;
                    padding: 0;
                    width: 50%;
                }

                // .btn {
                //     border-radius: 0;
                //     padding: 15px 30px;
                //     text-transform: uppercase;
                //     font-size: 12px;
                //     font-weight: 400;
                //     background: #3db5e6;
                //     border: none;
                //     color: #fff;

                //     &:hover {
                //         background: #03a8e9;
                //     }
                // }
            }

            .clients {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 30px 0;
                // background: #a5a5a5;
                background: #f0f4f9;

                .img {
                    width: 140px;
                    margin: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    // News
    .news {
        margin: 40px 0 0 0;
        // background: #f0f4f9;
        position: relative;
        display: flex;
        height: 500px;


        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            overflow: hidden;
            position: absolute;
            width: 100%;
            bottom: 10px;
            right: 0;
        }

        .newsDetail {
            width: 100%;
            text-align: center;

            .newsContent {
                padding: 40px;
                display: flex;
                flex-direction: column;

                h3 {
                    color: #3db5e6;
                    font-weight: 300;
                    margin: 3px 0;
                    padding: 0;
                }

                h1 {
                    color: #004b96;
                    font-weight: 700;
                    width: 100% !important;
                }

                // .btn {
                //     border-radius: 0;
                //     padding: 15px 30px;
                //     text-transform: uppercase;
                //     font-size: 12px;
                //     font-weight: 400;
                //     background: #3db5e6;
                //     border: none;
                //     color: #fff;
                //     width: 220px;

                //     &:hover {
                //         background: #03a8e9;
                //     }
                // }
            }
        }
    }

    @media only screen and (max-width:768px) {

        .carousel {

            .img {
                background: #000;
                width: 100%;
                height: 60vh;
            }

            .slider_section {
                padding: 100px 0;
    
                .detail-box {
                    h1 {
                        font-weight: 500;
                        font-size: 48px;
                    }
                }
    
            }
        }

        .dataBoxs {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 90%;
            padding: 10px 0;
        }

        // .collaborations {
        //     margin: 10px 0;

        //     .collaborationssDetail {
        //         width: 96%;

        //         .collaborationsContent {
        //             padding: 6px 0;

        //             p {
        //                 width: 98% !important;
        //                 border: 1px solid red;
        //             }

        //             .btn {
        //                 padding: 12px 18px !important;
        //             }
        //         }
        //     }
        // }

        .collaborations {
            margin: 10px 0;

            .collaborationsDetail {
                width: 90%;

                .collaborationsContent {
                    padding: 10px 0;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 18px;
                        margin: 12px 0;
                        width: 100% !important;
                    }

                }

                .clients {
                    padding: 10px 0;

                    .img {
                        width: 100px;
                        margin: 8px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .news {
            height: 550px;
        }

        // Exports
        .exports {
            padding: 20px 0;

            .exportText {
                width: 96%;

                p {
                    font-weight: 300;
                }

                h1 {
                    font-size: 24px;
                }
            }

            .flagImgs {
                width: 96%;

                .img-box {
                    width: 100px;
                    height: 60px;

                    p{
                        font-size: 13px;
                    }
                }


            }
        }

    }

}