.home {

    .carousel {
        margin-top: 50px;
        cursor: pointer;

        .img {
            background: #000;
            width: 100%;
            height: 76vh;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.7;
            }
        }

        .slider_section {
            padding: 100px 0;

            .detail-box {
                h1 {
                    font-weight: 900;
                }

                p {
                    margin: 30px 0;
                    font-weight: 300;
                }
            }

        }
    }

    .dataBoxs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        padding: 30px 0;
    }

    // Quote
    .quote {
        background: linear-gradient(0deg, rgba(197, 197, 197, .16), rgba(197, 197, 197, .16)), linear-gradient(270deg, rgba(0, 75, 150, .4608) 14.13%, rgba(0, 75, 150, .72) 50.76%, rgba(0, 75, 150, .4608) 71.84%, rgba(255, 255, 255, .72) 100%);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;

        .img {
            width: 100%;
            height: 450px;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.5;
                z-index: -1;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;

                &:hover {
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }

        .quoteText {
            text-align: center;
            color: #fff;
            position: absolute;
            width: 60%;
            font-size: 24px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                border-radius: 50%;
                background: rgba(255, 255, 255, .16);
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 10px 0;

                .quote-icon {
                    font-size: 42px;
                }
            }

            p {
                margin: 24px 0;
            }
        }
    }

    // collaborations
    .collaborations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 40px 0;

        .collaborationsDetail {
            background: #f8f8f8;
            width: 80%;
            text-align: center;

            .collaborationsContent {
                padding: 40px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h3 {
                    color: #3db5e6;
                    font-weight: 300;
                    margin: 3px 0;
                    padding: 0;
                }

                h1 {
                    color: #004b96;
                    font-weight: 700;
                }

                p {
                    font-weight: 350;
                    font-size: 20px;
                    color: #535353;
                    margin: 24px 0;
                    padding: 0;
                    width: 50%;
                }

                .btn {
                    border-radius: 0;
                    padding: 15px 30px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 400;
                    background: #3db5e6;
                    border: none;
                    color: #fff;

                    &:hover {
                        background: #03a8e9;
                    }
                }
            }

            .images {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 30px 0;

                .img {
                    width: 235px;
                    height: 235px;
                    border-radius: 6px;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;
                    background: #000000de;
                    margin: 20px 0;
                    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px 15px, rgba(0, 0, 0, 0.3) -10px 10px 15px, rgba(0, 0, 0, 0.2) -15px 15px 15px;

                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 0.7;
                        z-index: -1;
                        -webkit-transition: all 1s ease;
                        -moz-transition: all 1s ease;
                        -o-transition: all 1s ease;
                        transition: all 1s ease;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.2);
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            -o-transform: scale(1.2);
                            transform: scale(1.2);
                        }
                    }

                    h1 {
                        position: absolute;
                        bottom: 10px;
                        right: 20px;
                        padding: 0 20px;
                        font-size: 23px;
                        z-index: 2;
                        color: #fff;
                        text-align: left;
                    }
                }
            }

            .clients {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 30px 0;
                background: #a5a5a5;

                .img {
                    width: 140px;
                    margin: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        // filter: invert(100%);
                        cursor: pointer;

                        // &:hover {
                        //     filter: invert(0);
                        // }
                    }
                }
            }
        }
    }

    // Commitments
    .commitments {
        background: #f8f8fb;
        width: 100%;
        text-align: center;

        .commitmentsContent {
            padding: 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h3 {
                color: #3db5e6;
                font-weight: 300;
                margin: 3px 0;
                padding: 0;
            }

            h1 {
                color: #004b96;
                font-weight: 700;
            }

            p {
                font-weight: 350;
                font-size: 20px;
                color: #535353;
                margin: 24px 0;
                padding: 0;
                width: 80%;
            }

            .btn {
                border-radius: 0;
                padding: 15px 30px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400;
                background: #3db5e6;
                border: none;
                color: #fff;

                &:hover {
                    background: #03a8e9;
                }
            }
        }
    }

    // jobs
    .jobs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        text-align: left;

        .video {
            width: 42%;
            height: 320px;
        }

        .jobDetail {
            background: #f8f8f8;
            width: 42%;

            .jobContent {
                padding: 40px;
                display: flex;
                flex-direction: column;

                h3 {
                    color: #3db5e6;
                    font-weight: 300;
                    margin: 3px 0;
                    padding: 0;
                }

                h1 {
                    color: #004b96;
                    font-weight: 700;
                }

                p {
                    font-weight: 350;
                    font-size: 20px;
                    color: #535353;
                    margin: 24px 0;
                    padding: 0;
                }

                .btn {
                    border-radius: 0;
                    padding: 15px 30px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 400;
                    background: #3db5e6;
                    border: none;
                    color: #fff;
                    width: 220px;

                    &:hover {
                        background: #03a8e9;
                    }
                }
            }
        }
    }

    // News
    .news {
        margin: 40px 0;
        text-align: left;
        background: #f0f4f9;
        position: relative;
        display: flex;
        height: 450px;

        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            overflow: hidden;
            position: absolute;
            width: 60%;
            bottom: -40px;
            right: 0;
        }

        .newsDetail {
            width: 40%;

            .newsContent {
                padding: 40px;
                display: flex;
                flex-direction: column;

                h3 {
                    color: #3db5e6;
                    font-weight: 300;
                    margin: 3px 0;
                    padding: 0;
                }

                h1 {
                    color: #004b96;
                    font-weight: 700;
                }

                p {
                    font-weight: 350;
                    font-size: 20px;
                    color: #535353;
                    margin: 24px 0;
                    padding: 0;
                }

                .btn {
                    border-radius: 0;
                    padding: 15px 30px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 400;
                    background: #3db5e6;
                    border: none;
                    color: #fff;
                    width: 220px;

                    &:hover {
                        background: #03a8e9;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:768px) {

        .quoteText {
            width: 96% !important;
            font-size: 22px;
            font-weight: 400;

            h1 {
                width: 60px;
                height: 60px;
            }

            p {
                margin: 24px 0;
            }
        }

        .collaborations {
            margin: 30px 0;

            .collaborationssDetail {
                width: 90%;

                .collaborationsContent {
                    p {
                        width: 98%;
                    }

                    .btn {
                        padding: 12px 18px;
                    }
                }
            }
        }

        .jobs {
            flex-direction: column !important;

            .video {
                width: 90%;
                height: 200px;
            }

            .jobDetail {
                width: 90%;

                .jobContent {
                    padding: 10px;
                }
            }
        }

        .news {
            flex-direction: column;
            height: 820px;

            .cards {
                width: 100%;
                bottom: -4px;
                right: 0;
            }

            .newsDetail {
                width: 80%;

                .newsContent {
                    padding: 20px;
                }
            }
        }

    }


    .products-client-list {
        padding: 50px 0;
        text-align: center;
        margin-top: 40px;

        h1 {
            font-weight: 700;
        }

        .prodects-client-box {
            padding: 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }

    }

}