.home {

    .carousel {
        margin-top: 50px;
        cursor: pointer;

        .img {
            background: #000;
            width: 100%;
            height: 96vh;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.7;
            }
        }

        .slider_section {
            padding: 100px 0;

            .detail-box {
                h1 {
                    font-weight: 900;
                }

                p {
                    margin: 30px 0;
                    font-weight: 300;
                }
            }

        }
    }

    .dataBoxs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        padding: 30px 0;
    }

    // Exports
    .exports {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .exportText {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 80%;

            h1 {
                color: #004b96;
                font-weight: 700;
                font-size: 32px;
            }

            p {
                font-weight: 350;
                font-size: 20px;
                color: #535353;
                padding: 0;
            }
        }

        .flagImgs {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            img {
                width: 200px;
                height: 120px;
                margin: 14px 0;
            }
        }
    }

    // collaborations
    .collaborations {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 40px 0;

        .collaborationsDetail {
            background: #f8f8f8;
            width: 80%;
            text-align: center;

            .collaborationsContent {
                padding: 40px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h3 {
                    color: #3db5e6;
                    font-weight: 300;
                    margin: 3px 0;
                    padding: 0;
                }

                h1 {
                    color: #004b96;
                    font-weight: 700;
                }

                p {
                    font-weight: 350;
                    font-size: 20px;
                    color: #535353;
                    margin: 24px 0;
                    padding: 0;
                    width: 50%;
                }

                // .btn {
                //     border-radius: 0;
                //     padding: 15px 30px;
                //     text-transform: uppercase;
                //     font-size: 12px;
                //     font-weight: 400;
                //     background: #3db5e6;
                //     border: none;
                //     color: #fff;

                //     &:hover {
                //         background: #03a8e9;
                //     }
                // }
            }

            .images {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 30px 0;

                .img {
                    width: 235px;
                    height: 235px;
                    border-radius: 6px;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;
                    background: #000000de;
                    margin: 20px 0;
                    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px 15px, rgba(0, 0, 0, 0.3) -10px 10px 15px, rgba(0, 0, 0, 0.2) -15px 15px 15px;

                    img {
                        width: 100%;
                        height: 100%;
                        opacity: 0.7;
                        z-index: -1;
                        -webkit-transition: all 1s ease;
                        -moz-transition: all 1s ease;
                        -o-transition: all 1s ease;
                        transition: all 1s ease;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.2);
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            -o-transform: scale(1.2);
                            transform: scale(1.2);
                        }
                    }

                    h1 {
                        position: absolute;
                        bottom: 10px;
                        right: 20px;
                        padding: 0 20px;
                        font-size: 23px;
                        z-index: 2;
                        color: #fff;
                        text-align: left;
                    }
                }
            }

            .clients {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 30px 0;
                background: #a5a5a5;

                .img {
                    width: 140px;
                    margin: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        // filter: invert(100%);
                        cursor: pointer;

                        // &:hover {
                        //     filter: invert(0);
                        // }
                    }
                }
            }
        }
    }

    // Commitments
    // .commitments {
    //     background: #f8f8fb;
    //     width: 100%;
    //     text-align: center;

    //     .commitmentsContent {
    //         padding: 40px 0;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         flex-direction: column;

    //         h3 {
    //             color: #3db5e6;
    //             font-weight: 300;
    //             margin: 3px 0;
    //             padding: 0;
    //         }

    //         h1 {
    //             color: #004b96;
    //             font-weight: 700;
    //         }

    //         p {
    //             font-weight: 350;
    //             font-size: 20px;
    //             color: #535353;
    //             margin: 24px 0;
    //             padding: 0;
    //             width: 80%;
    //         }

    //         .btn {
    //             border-radius: 0;
    //             padding: 15px 30px;
    //             text-transform: uppercase;
    //             font-size: 12px;
    //             font-weight: 400;
    //             background: #3db5e6;
    //             border: none;
    //             color: #fff;

    //             &:hover {
    //                 background: #03a8e9;
    //             }
    //         }
    //     }
    // }

    // News
    .news {
        margin: 40px 0;
        background: #f0f4f9;
        position: relative;
        display: flex;
        height: 500px;


        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            overflow: hidden;
            position: absolute;
            width: 100%;
            bottom: 10px;
            right: 0;
        }

        .newsDetail {
            width: 100%;
            text-align: center;

            .newsContent {
                padding: 40px;
                display: flex;
                flex-direction: column;

                h3 {
                    color: #3db5e6;
                    font-weight: 300;
                    margin: 3px 0;
                    padding: 0;
                }

                h1 {
                    color: #004b96;
                    font-weight: 700;
                    width: 100% !important;
                }

                // .btn {
                //     border-radius: 0;
                //     padding: 15px 30px;
                //     text-transform: uppercase;
                //     font-size: 12px;
                //     font-weight: 400;
                //     background: #3db5e6;
                //     border: none;
                //     color: #fff;
                //     width: 220px;

                //     &:hover {
                //         background: #03a8e9;
                //     }
                // }
            }
        }
    }

    @media only screen and (max-width:768px) {

        .carousel {

            .img {
                background: #000;
                width: 100%;
                height: 60vh;
            }
        }

        .collaborations {
            margin: 30px 0;

            .collaborationssDetail {
                width: 90%;

                .collaborationsContent {
                    padding: 18px 0;

                    p {
                        width: 98% !important;
                    }

                    .btn {
                        padding: 12px 18px !important;
                    }
                }
            }
        }

        .news {
            height: 550px;
        }

    }

}