.products {
    
    h1 {
        padding: 10px 30px;
        font-size: 32px;
        color: #15a0c7;
        font-weight: 900;
        text-transform: uppercase;
        width: 100%;
        margin: 30px 0;

        &:after {
            content: '';
            width: 100px;
            height: 4px;
            border-radius: 4px;
            background: #15a0c7;
            display: block;
            transition: 2s;
            margin: 12px 0;
            animation: line 2s ease-in-out;
        }

        @keyframes line {
            0% {
                width: 0px;
            }

            100% {
                width: 100px;
            }
        }
    }
}